- request ||= @request
- page ||= request.page
- suite ||= page.suite
h6 Assertions
- request.assertions.each do |assertion|
  = render :file => "assertions/show", :locals => {:assertion => assertion}
